@font-face {
    font-family: 'Cute Dog';
    src: url(/Users/hannah/CS3_1stQtrPortfolio/fonts/cute_dog.otf) format('opentype');
} 
body{
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    font-family: 'Cute Dog';
    font-size:50px;
    text-align: center;
}
.header {
    font-family:'Cute Dog';
    background-color: #ffdab9;
    color: #c36241;
    text-align: center;
    font-size: 80px;
    padding: 20px;
    line-height: 0%;
}
.main {
    font-family: 'Cute Dog';
    color: #8b4513;
    text-align: center;
    font-size: 40px;
    line-height: 20%;
    padding: 20px;
}
body{
    background-color: #fffcec;
}
img#banana {
    float: right;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-right: 0px;
}
img#bananas {
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 15px;
    margin-left: 0px;
}